.textarea {
    margin-top: 10%;
    margin-left: -70%;
}

.buttons {
    margin-top: -20%;
    margin-left: -64%;
}

.main {
    width: 100%;
    height: auto;
}

.item {
    /* width: 100%;
    height: auto; */
}