.textarea {
    margin-top: 10%;
    margin-left: -62%;
    margin-right: 2%;
}

.buttons {
    margin-top: -20%;
    margin-left: -60%;
}

.main {
    width: 100%;
    height: auto;
    margin-left: 10%;
    margin-top: 5%;
}

.TaskList {
    width: 100%;
    height: auto;
    margin-top: -15%;
    margin-left: 3%;
    
}

.item {
    width: 100%;
    height: auto;
}